body {
	background-image: url("../img/pink-dust.png");
	color: #d4d4d4;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 1vh 10vw;
}
h1, h2 {
	font-family: 'Poppins', sans-serif;

}
h1{
	font-size: 5.5vw;
}
h2{
	font-size: 3vw;
}
hr{
	border: 2px solid pink;
	border-radius: 5px;}
blockquote{
	background-color: #4e4e4e;
}
ul{
	padding: 0;
}
li{
	list-style-type: none;
}
a{
	color: pink;
}
.nav {
	font-family: 'Poppins', sans-serif;
	list-style-type:none;
	margin: 0 20vw;
	padding: 0;
	/*background-color: pink;*/
	justify-content: space-between;
	display: flex;
}
.skills {
	list-style-type:none;
	padding: 0;
	margin-bottom: 10px;

}
.skills>li {
	float: left;
	display: inline;
	width: 50%;
}
.subhr {
	border: 1px solid #d4d4d4;
	border-radius: 2px;
}
.projectpic{
	margin: 10px 5px 5px 5px;
	border: 2px solid pink;
}